<div class="home-intro">
    <p><i>Hi, I'm Finch-- amateur youtuber, practicing occultist</i></p>
    <div class="jumbo"> This is my journey through modern occultism and esoterica</div>
    <div class="home-sub-text">
        <h3>
            All my research for my <a href="https://youtube.com/c/blackfinch">Youtube channel</a> is publicly available
            in my
            <a href="{{'/notes' | relative_url}}">notes</a>.
        </h3>
        <h3>
            And please sign up for my <a href="https://blackfinch.substack.com/">
            newsletter</a> for updates, blog posts, and musings
        </h3>
        <p>For business enquires, or just to chat- send me a line at <a
                href="mailto:blkfinch@gmail.com">blkfinch@gmail.com</a></p>
    </div>
</div>