.theme-dark {
    --inline-title-color: #e0d7d7;
    --h1-color: #e0b73d;
    --h2-color: #77ca61;
    --h3-color: #6694e2;
    --h4-color: #da6fd5;
    --h5-color: #94c0bd;
    --h6-color: #f34545;
}

.theme-light {
    --inline-title-color: #302e2e;
    --h1-color: #4a51b6;
    --h2-color: #77ca61;
    --h3-color: #6694e2;
    --h4-color: #da6fd5;
    --h5-color: #94c0bd;
    --h6-color: #f34545;
}