.tree-item-self[data-path^='assets'] {
    display: none;
}

.tree-item-self[data-path^='_includes'] {
    display: none;
}

.tree-item-self[data-path^='_layouts'] {
    display: none;
}

.tree-item-self[data-path^='_site'] {
    display: none;
}

.tree-item-self[data-path^='pages'] {
    display: none;
}

.tree-item-self[data-path^='utilities'] {
    display: none;
}
